.top-menu {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 500%;
}

.current-top-menu-button {
    background-color: white;
    border: none;
    color: #045184;
    font-family: "Avenir", sans-serif;
    font-weight: bold;
    font-size: large;
}

.top-menu-button {
    background-color: white;
    border: none;
    color: black;
    font-family: "Avenir", sans-serif;
    font-weight: bold;
    font-size: large;
}

.top-menu-button:hover {
    background-color: white;
    border: none;
    color: #4f97c6;
}

.inquiery-button {
    background-color: #045184;
    border-width: 110%;
    border-color: #045184;
    color: white;
    font-family: "Avenir", sans-serif;
    font-weight: bold;
    font-size: large;
}

.inquiery-button:hover {
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px, 1px, 1px, 1px;
}

.dividing-line {
    background-color: black;
    width: auto;
    height: 2px;
    margin-bottom: 20px;
}